<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pr_idi.mydatabaseexample">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- MAIN ACTIITY -->
        <activity
            android:name=".CategoryActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <!-- ADD BOOK ACTIVITY -->
        <activity
            android:name=".AddActivity"
            android:label="@string/title_activity_add"
            android:parentActivityName=".CategoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="android.intent.action.MAIN" />

                <action android:name="android.intent.action.addActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- ACTIVITY FOR CONSULT A BOOK -->
        <activity
            android:name=".BookActivity"
            android:label="@string/title_activity_book"
            android:parentActivityName=".CategoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="android.intent.action.MAIN" />

                <action android:name="android.intent.action.bookActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--ABOUT ACTIVIY-->
        <activity android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".CategoryActivity">
            <intent-filter>
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="android.intent.action.MAIN" />

                <action android:name="android.intent.action.aboutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

</application>

</manifest>